body {
    margin: 0;
    background-image: url("img/pokedex-bg_1280.jpg");
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    border-bottom: 1px solid brown;
    padding-left: 5vw;
    padding-right: 5vw;
}

#headerLeft {
    display: flex;
    align-items: center;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    /*justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px 20px;*/
}

#pokemonCard {
    height: 400px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 3px 5px rgb(44, 44, 44);
}

#pokePic {
    max-height: 200px;
}

#upperSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(41, 37, 37);
    color: white;
    border-radius: 5px 5px 0 0;
}

#elements {
    background-color: rgb(41, 37, 37);
    border-radius: 0 0 5px 5px;
}

#type {
    max-height: 17%;
    max-width: 17%;
}

.element {
    border: 1px solid black;
    border-radius: 2px;
    color: whitesmoke;
}

.noSecondElement {
    display: none;
}

#elements {
    display: flex;
}

.isHidden {
    display: none !important;
}

.isShown {
    display: block;
}

#loadingBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#opaqueBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detailViewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailNavigate {
    width: 30px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

#detailView {
    width: 363px;
    height: 500px;
    position: relative;
    text-align: center;
    z-index: 2;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
}

#detailPokePic {
    max-width: 350px;
}

.innerDetailWrapper {
    width: 363px;
    min-height: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#detailUpperSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 37, 37);
    color: white;
    border-radius: 5px 5px 0 0;
}

.closeButton {
    border: 1px gray solid;
    border-radius: 4px;
    cursor: pointer;
}