.grass {
    background-color: rgb(119, 216, 119, 0.5);
    border: 1px solid rgb(70, 197, 70);
}

.fire {
    background-color: rgb(221, 91, 91, 0.5);
    border: 1px solid rgb(228, 44, 44);
}

.water {
    background-color: rgba(100, 200, 247, 0.5);
    border: 1px solid rgb(46, 146, 212);
}

.bug {
    background-color: rgb(206, 176, 155, 0.5);
    border: 1px solid rgb(151, 119, 119);
}

.normal {
    background-color: rgb(250, 235, 215, 0.5);
    border: 1px solid rgb(235, 225, 225);
}

.poison {
    background-color: rgb(165, 111, 216, 0.5);
    border: 1px solid rgb(170, 64, 170);
}

.electric {
    background-color: rgba(241, 233, 113, 0.5);
    border: 1px solid gold;
}

.ground {
    background-color: rgb(179, 133, 74, 0.5);
    border: 1px solid sandybrown;
}

.fairy {
    background-color: rgb(255, 113, 189, 0.5);
    border: 1px solid palevioletred;
}

.fighting {
    background-color: rgb(255, 140, 0, 0.5);
    border: 1px solid orangered;
}

.flying {
    background-color: rgb(255, 235, 205, 0.5);
    border: 1px solid blanchedalmond;
}

.psychic {
    background-color: rgb(127, 255, 212, 0.5);
    border: 1px solid seashell;
}

.rock {
    background-color: rgb(169, 169, 169, 0.5);
    border: 1px solid silver;
}

.ghost {
    background-color: rgb(0, 139, 139, 0.5);
    border: 1px solid silver;
}

.ice {
    background-color: rgb(135, 206, 235, 0.5);
    border: 1px solid white;
}

.dragon {
    background-color: rgb(218, 165, 32, 0.5);
    border: 1px solid rgb(218, 165, 32);
}

.steel {
    background-color: rgb(175, 238, 238, 0.5);
    border: 1px solid paleturquoise;
}